.search-container
  .search-topic-area
    h2.search-result = "#{@spaces.count}件の宿泊先"
    - if @spaces.count > 0
      .search-topic-container
        - @spaces.each_with_index do |space, i|
          = link_to space, class: "search-topic #{i+1}", id: "#{i+1}" do
            = image_tag space.picture.url, class: 'box-topic-image'
            .search-topic-tips
              .search-topic-tip
                div style="color: gray;" = "ホスト名｜#{space.user.name}"
                span.review-tip
                  - if space.reviews.present?
                    span = fa_icon("star", text: space.reviews.average(:rate).round(2))
                  - else
                    span = fa_icon("star", text: 0.0)
                  span = "(#{space.reviews.count})"
              .search-topic-tip = "スペース名｜#{space.title}"
              .search-topic-tip
                h2 style="color: red;" = i + 1
              .search-topic-tip
                - space.tag_list.each do |tag|
                  span.label.label-primary = tag
    - else
      h2.textlabel 検索結果はありません
  .search-map-area
    .search-map-zone#gmap

javascript:
  function initMap() {
    //マップ表示
    var target = document.getElementById('gmap');
    var map = new google.maps.Map(document.getElementById('gmap'), {
      center: {lat: 35.681167, lng: 139.767052},
      zoom: 11
    });

    //---------------------現在地マーカー-------------------------------
    //var infoWindow = new google.maps.InfoWindow;
    if(!navigator.geolocation){
      infoWindow.setPosition(map.getCenter());
      infoWindow.setContent('Geolocation に対応していません。');
      infoWindow.open(map);
    }

    navigator.geolocation.getCurrentPosition(function(position) {
      var pos = { lat: position.coords.latitude, lng: position.coords.longitude };
      var mark = new google.maps.Marker({
        animation: google.maps.Animation.DROP,
        position: pos,
        map: map,
        icon: {
          fillColor: "rgb(48, 255, 176)",
          fillOpacity: 1.0,
          path: google.maps.SymbolPath.BACKWARD_CLOSED_ARROW,
          scale: 4,
          strokeColor: "green",
          strokeWeight: 1.0
        }
      });
    }, function() {
      infoWindow.setPosition(map.getCenter());
      infoWindow.setContent('Error: Geolocation が無効です。');
      infoWindow.open(map);
    });
    //---------------------複数マーカー-----------------------------
    var spaces = #{raw @spaces.to_json};
    var marker = [];
    var info;
    for(var i = 0; i < spaces.length; ++i) {
      spot = new google.maps.LatLng({lat: spaces[i].latitude, lng: spaces[i].longitude});
      marker[i] = new google.maps.Marker({
        position: spot,
        map: map,
      	animation: google.maps.Animation.DROP,
        icon: {
        	fillColor: "#FF0000",
        	fillOpacity: 0.8,
        	path: google.maps.SymbolPath.CIRCLE,
        	scale: 12,
        	strokeColor: "#FF0000",
        	strokeWeight: 1.0
        },
        label: {
        	text: String(i+1),
        	color: '#FFFFFF',
        	fontSize: '14px'
        }
      });
      markerEvent(i);
    }
    //---------------------複数マーカーのイベント---------------------
    function markerEvent(i) {
      marker[i].addListener('click', function() {
        var target = $('#' + (i + 1));
        $(".highlight").removeClass("highlight");
        target.addClass("highlight");
        var position = target.offset().top - 280;
        $('body,html').animate({scrollTop:position}, 400, 'swing');
      });
    }
    //-------------------------------------------------------------
  }


script src="https://maps.googleapis.com/maps/api/js?key=#{ENV["COMPANY"]}&callback=initMap" async defer
