@import "font-awesome";
//------------------------------@mixin-------------------------------------

@mixin container_design {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

//------------------------------main-------------------------------------

body {
  min-height: 100vh;
  font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
  line-height: 18px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

//------------------------------header-------------------------------------
header {
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
  background-color: rgb(91, 211, 121);
}
//------------------------------footer-------------------------------------
footer {
  height: 44px;
  width: 100%;
  padding: 4px 0 6px ;
  font-size: 16px;
  margin-top: auto;
  background-color: rgb(91, 211, 121);
  color: #fff;
}
//------------------------------others-------------------------------------

#error_explanation {
  color: #fff;
  div {
    margin: 4px;
  }
}
