@import "font-awesome";

//------------------------------@mixin-------------------------------------
@mixin container {
  border: 2px solid rgb(108, 118, 134);
  background-color: #fff;
}

@mixin icon {
  border: 1px solid darken(rgb(249, 249, 249), 5%);
  border-radius: 50%;
}

@mixin btn {
  border-radius: 4px;
  margin: 0 6px;
  text-decoration:none;
  display: inline-block;
  text-align: center;
  transition: .4s;
}

//------------------------------general-------------------------------------

body {
  min-height: 100vh;
  // font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
  font-family: "メイリオ", "Meiryo","游ゴシック", "Yu Gothic", "YuGothic","Hiragino Kaku Gothic ProN",
               "Hiragino Kaku Gothic Pro", "ＭＳ ゴシック", sans-serif;
  line-height: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

header {
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
  background-color: rgb(111, 207, 58);
  color: #fff;

  a {
    margin: 0 10px;
    &:visited {
      color: #fff;
    }
  }

  .header_title {
    margin-left: 26px;
    font-size: 32px;
  }
  navbar {
    display: flex;
  }
  .header_icon {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    img {
      @include icon;
      margin-right: 6px;
      width: 40px;
      height: 40px;
    }
  }
}

footer {
  height: 44px;
  width: 100%;
  padding: 4px 0 6px ;
  font-size: 16px;
  margin-top: auto;
  background-color: rgb(111, 207, 58);
  color: #fff;
}

// ------------------------------btns-------------------------------------

.btn {
  @include btn;
  padding: 9px;
  font-size: 20px;
  min-width: 50px;
}

.btn-l {
  @include btn;
  padding: 12px;
  font-size: 22px;
  min-width: 70px;
}

.btn-s {
  @include btn;
  padding: 6px;
  font-size: 16px;
  min-width: 30px;
}

.btn-xs {
  @include btn;
  padding: 3px;
  font-size: 12px;
  min-width: 30px;
}

.btn-green {
  border: 2px solid rgb(111, 207, 58);
  background-color: rgb(111, 207, 58) !important;
  color: #fff !important;
  &:hover {
    background-color: rgb(255, 255, 255) !important;
    color: #000 !important;
    border: 2px solid rgb(111, 207, 58);
  }
}

.btn-red {
  border: 2px solid rgb(234, 44, 86);
  background-color: rgb(234, 44, 86) !important;
  color: #fff !important;
  &:hover {
    background-color: rgb(255, 255, 255) !important;
    color: #000 !important;
    border: 2px solid rgb(234, 44, 86);
  }
}

.btn-blue {
  border: 2px solid rgb(34, 127, 209);
  background-color: rgb(34, 127, 209) !important;
  color: #fff !important;
  &:hover {
    background-color: rgb(255, 255, 255) !important;
    color: #000 !important;
    border: 2px solid rgb(34, 127, 209);
  }
}

.btn-yellow {
  border: 2px solid rgb(253, 181, 13);
  background-color: rgb(253, 181, 13) !important;
  color: #fff !important;
  &:hover {
    background-color: rgb(255, 255, 255) !important;
    color: #000 !important;
    border: 2px solid rgb(253, 181, 13);
  }
}

.btn-bright {
  &:hover {
  background-color: rgba(78, 245, 134, 0.178) !important;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  }
}

.btn-shadow {
  &:hover {
  background-color: rgba(228, 22, 22, 0.445) !important;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  }
}


// ------------------------------others-------------------------------------
input[type="submit" i] {
  // box-sizing: content-box !important;
  // height: auto;
  // width: auto;
  line-height: 115%;
  &:hover {
    cursor: pointer;
    }
}

.notice {
  background-color: rgb(207, 242, 241);
  width: 65vw;
  text-align: center;
  margin: 5px 0 ;
  padding: 20px 0;
  box-shadow: 0 2px 6px #c1ced7;
  border-radius: 10px;
}