@import "font-awesome";

//------------------------------@mixin-------------------------------------
@mixin container {
  border: 2px solid rgb(108, 118, 134);
  background-color: #fff;
}

@mixin icon {
  border: 1px solid darken(rgb(249, 249, 249), 5%);
  border-radius: 50%;
}

@mixin btn {
  border-radius: 4px;
  margin: 0 6px;
  text-decoration:none;
  display: inline-block;
  text-align: center;
  transition: .4s;
}

@mixin label {
  color: #fff;
  background-color: rgb(90, 218, 241);
  border-radius: 4px;
  display: inline-block;
  margin: 6px;
}

@mixin textinput {
  border: 1px solid darken(rgb(235, 237, 240), 10%);
  border-radius: 3px;
  padding: 0.5em;
  box-sizing: border-box;
  font-size: 1em;
}

@mixin textarea {
  border: 1px solid darken(rgb(235, 237, 240), 10%);
  border-radius: 3px;
  padding: 0.5em;
  box-sizing: border-box;
  height: 100px;
  font-size: 1em;
}

//------------------------------general-------------------------------------

html {
  position: relative;
}

body {
  min-height: 100vh;
  // font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
  // font-family: "メイリオ", "Meiryo","游ゴシック", "Yu Gothic", "YuGothic","Hiragino Kaku Gothic ProN",
  //              "Hiragino Kaku Gothic Pro", "ＭＳ ゴシック", sans-serif;
  font-family: "Circular","-apple-system","BlinkMacSystemFont","Roboto","Helvetica Neue","sans-serif" !important;
  line-height: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: #fff !important;
  color: rgb(82, 82, 82);
}

header {
  height: 54px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
  background-color: rgb(111, 207, 58);
  color: #fff;
  position: relative;
  a {
    margin: 0 10px;
    &:visited {
      color: #fff;
    }
  }
  .header_title {
    margin-left: 26px;
    font-size: 32px;
  }
  .navbar {
    flex-grow: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    a {
      margin: 0 8px;
    }
    img {
      @include icon;
      margin-right: 6px;
      width: 40px;
      height: 40px;
    }
  }
}



// ------------------------------btns-------------------------------------

.btn {
  @include btn;
  padding: 9px;
  font-size: 20px;
  min-width: 50px;
}

.btn-l {
  @include btn;
  padding: 12px;
  font-size: 22px;
  min-width: 70px;
}

.btn-s {
  @include btn;
  padding: 6px;
  font-size: 16px;
  min-width: 30px;
}

.btn-xs {
  @include btn;
  padding: 3px;
  font-size: 12px;
  min-width: 30px;
}

// .search-btn {
//   @include btn;
//   border: 1px;
//   border-radius: 0;
//   padding: 9px;
//   font-size: 15px;
//   min-width: 30px;
// }

.btn-green {
  border: 2px solid rgb(111, 207, 58);
  background-color: rgb(111, 207, 58) !important;
  color: #fff !important;
  &:hover {
    background-color: rgb(255, 255, 255) !important;
    color: #000 !important;
    border: 2px solid rgb(111, 207, 58);
  }
}

.btn-red {
  border: 2px solid rgb(234, 44, 86);
  background-color: rgb(234, 44, 86) !important;
  color: #fff !important;
  &:hover {
    background-color: rgb(255, 255, 255) !important;
    color: #000 !important;
    border: 2px solid rgb(234, 44, 86);
  }
}

.btn-blue {
  border: 2px solid rgb(34, 127, 209);
  background-color: rgb(34, 127, 209) !important;
  color: #fff !important;
  &:hover {
    background-color: rgb(255, 255, 255) !important;
    color: #000 !important;
    border: 2px solid rgb(34, 127, 209);
  }
}

.btn-yellow {
  border: 2px solid rgb(253, 181, 13);
  background-color: rgb(253, 181, 13) !important;
  color: #fff !important;
  &:hover {
    background-color: rgb(255, 255, 255) !important;
    color: #000 !important;
    border: 2px solid rgb(253, 181, 13);
  }
}

.btn-bright {
  &:hover {
  background-color: rgba(78, 245, 134, 0.178) !important;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  }
}

.green-shadow {
  &:hover {
    background-color: rgba(203, 226, 192, 0.37) ;
    border-radius: 4px;
    box-shadow: 0 0 3px 3px rgba(203, 226, 192, 0.37);
  }
}

.gray-shadow {
  &:hover {
    background-color: rgba(226, 226, 226, 0.61) ;
    border-radius: 4px;
    box-shadow: 0 0 3px 3px rgba(226, 226, 226, 0.61);
  }
}


// ------------------------------others-------------------------------------
input[type="submit" i] {
  // box-sizing: content-box !important;
  // height: auto;
  // width: auto;
  line-height: 115%;
  &:hover {
    cursor: pointer;
    }
}

.notice {
  background-color: rgb(207, 242, 241);
  width: 100vw;
  text-align: center;
  padding: 20px;
}

// ------------------------------入力フォーム-------------------------------------

.textinput {
  @include textinput;
  width: 720px;
}

.s-textinput {
  @include textinput;
  width: 360px;
}

.xs-textinput {
  @include textinput;
  width: 120px;
}

.textarea {
  @include textarea;
  width: 720px;
}

.textlabel {
  text-align: left;
  margin: 14px 0;
}

// ------------------------------画像-------------------------------------
.box-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.space-index-picture {
  width: 100%;
  height: 170px;
  border-radius: 4px;
  object-fit: cover;
}

.space-search-topic-picture {
  width: 320px;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
}
.space-reserve-picture {
  width: 520px;
  height: 360px;
  object-fit: cover;
  border-radius: 4px;
}





// ------------------------------検索フォーム-------------------------------------

.search-form {
  .search-input {
    margin-bottom: 20px;
    padding: 10px;
    width: 260px;
    height: 40px;
    font-size: 100%;
    box-sizing: border-box;
    border-radius: 5px 0 0 5px;
    border: 1px solid rgb(240, 181, 55);
    border-right: none;
  }
  .search-btn {
    padding: 0 10px;
    color: #fff;
    width: 60px;
    height: 40px;
    font-size: 100%;
    vertical-align: top;
    border: 2px solid rgb(240, 181, 55);
    border-radius: 0 5px 5px 0;
    background: rgb(240, 181, 55);
    &:hover {
      background-color: rgb(223, 169, 53);
      color: #000 !important;
      border: 2px solid rgb(223, 169, 53);
      cursor: pointer;
    }
  }
}


// ------------------------------must-------------------------------------

.highlight {
  background-color: rgba(147, 255, 59, 0.171);
  box-shadow: 0 0 7px 7px rgba(147, 255, 59, 0.171);
}

.fa-thumbs-up {
  color: orange;
}
.fa-user-circle {
  color: red;
}
.fa-envelope {
  color: green;
}


