@import "application.scss";
.room-title {
  display: flex;
  text-align: center;
}

.chat-box {
  border: 1px solid darken(rgb(235, 237, 240), 10%);
  box-shadow: 0px 0px 4px 1px rgb(212, 217, 224);
  border-radius: 8px;
  width: auto;
  min-height: 15vh;
  display: flex;
  text-align: center;
  padding: 10px 18px;
  margin: 12px 0;
  background-color: #fff;
  .chat-face {
    border-right: 1px solid darken(rgb(235, 237, 240), 10%);
    padding-right: 12px;
  }
  .chat-day {
    margin-top: 6px;
  }
  .chat-voice {
    margin: 6px auto auto 12px;
    text-align: left;
  }
}
.my-chat-box {
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
  padding-left: 2px;
  .my-chat-face {
    border-left: 1px solid darken(rgb(235, 237, 240), 10%);
    padding-left: 12px;
    margin-left: 12px;
  }
}

.message-textarea {
  width: 55vw;
  min-height: 14vh;
}

.chats {
  display: flex;
  flex-direction: column;
  text-align: center;
  .post-btn {
    text-align: right;
    padding: 5px 6vw 0 0;
  }
}
.chat {
  width: 64vw;
}