@import "application.scss";

.container {
  // @include container_design;
  width: 350px;
  margin-top: 42px;
  background-color: rgba(0,0,0,0.4);
}

.content {
  border: 1px solid darken(rgb(235, 237, 240), 8%);
  width: 248px;
}

.icon {
  @include icon;
}

.edit_icon {
  img {
    @include icon;
    &:hover {
      background-color: rgba(255, 255, 255, 0.445);
      box-shadow: 1px 1px 5px 1px #999;
      cursor: pointer;
    }
  }
  input{
    display: none;
  }
}

a {
  text-decoration: none;
  color: #000;
}
// ------------------------------others-------------------------------------

#error_explanation {
  color: #000;
  div {
    margin: 4px;
  }
}

#pet_error_explanation {
  div {
    margin: 4px;
  }
}
