@import "font-awesome";
//------------------------------@mixin-------------------------------------

@mixin container_design {
  border-radius: 4px;
}

@mixin icon {
  width: 100px;
  height: 100px;
  border: 1px solid darken(rgb(249, 249, 249), 5%);
  border-radius: 50%;
}

// @font-face {
//   font-family: "yasasisa";
//   src: font-url('yasasisa.ttf') format('truetype');
// }

//------------------------------general-------------------------------------
body {
  min-height: 100vh;
  // font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
  font-family: "メイリオ", "Meiryo","游ゴシック", "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ＭＳ ゴシック", sans-serif;
  line-height: 18px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

header {
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
  background-color: rgb(111, 207, 58);
  color: #fff;

  a {
    margin: 0 10px;
    &:visited {
      color: rgb(201, 158, 158);
    }
  }

  .header_title {
    margin-left: 26px;
    font-size: 32px;
  }
  .header_icon {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    img {
      @include icon;
      margin-right: 6px;
      width: 40px;
      height: 40px;
    }
  }
}

footer {
  height: 44px;
  width: 100%;
  padding: 4px 0 6px ;
  font-size: 16px;
  margin-top: auto;
  background-color: rgb(111, 207, 58);
  color: #fff;
}

.container {
  // @include container_design;
  width: 350px;
  margin-top: 42px;
  background-color: rgba(0,0,0,0.4);
}

.content {
  border: 1px solid darken(rgb(235, 237, 240), 8%);
  width: 248px;
}

.icon {
  @include icon;
}

.edit_icon {
  img {
    @include icon;
    &:hover {
      background-color: rgba(255, 255, 255, 0.445);
      box-shadow: 1px 1px 5px 1px #999;
      cursor: pointer;
    }
  }
  input{
    display: none;
  }
}

a {
  text-decoration: none;
  color: #000;
}
// ------------------------------others-------------------------------------

#error_explanation {
  color: #000;
  div {
    margin: 4px;
  }
}

#pet_error_explanation {
  div {
    margin: 4px;
  }
}
