@import "application.scss";

.icon-xl {
  @include icon;
  width: 200px;
  height: 200px;
}
.icon-l {
  @include icon;
  width: 150px;
  height: 150px;
}
.icon {
  @include icon;
  width: 100px;
  height: 100px;
}
.icon-s {
  @include icon;
  width: 60px;
  height: 60px;
}
.icon-xs {
  @include icon;
  width: 40px;
  height: 40px;
}

.edit_icon {
  img {
    @include icon;
    &:hover {
      background-color: rgba(255, 255, 255, 0.445);
      box-shadow: 1px 1px 5px 1px #999;
      cursor: pointer;
    }
  }
  input{
    display: none;
  }
}

.box-icon-l {
  @include icon;
  border-radius: 4px;
  width: 150px;
  height: 150px;
}

.box-icon {
  @include icon;
  border-radius: 4px;
  width: 100px;
  height: 100px;
}
.box-icon-s {
  @include icon;
  border-radius: 4px;
  width: 50px;
  height: 50px;
}
a {
  text-decoration: none;
  color: #000;
}
.pet-form {
  .textinput {
    @include textinput;
    width: 50vw;
  }
  .textarea {
    @include textarea;
    width: 50vw;
  }
}

// ------------------------------others-------------------------------------

#error_explanation {
  color: #000;
  div {
    margin: 4px;
  }
}

#pet_error_explanation {
  div {
    margin: 4px;
  }
}

//-------------------------------phonesize--------------------------------------

@media screen and (max-width:768px) {
  .pet-form {
    .textinput {
      @include textinput;
      width: 90vw;
    }
    .textarea {
      @include textarea;
      width: 90vw;
    }
  }
}