.cp_ipselect {
	overflow: hidden;
	width: 90%;
	margin: 1em auto;
	text-align: center;
}
.cp_ipselect select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl01 {
	position: relative;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	background: #ffffff;
}
.cp_ipselect.cp_sl01::before {
	position: absolute;
	top: 0.8em;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666666;
	pointer-events: none;
}
.cp_ipselect.cp_sl01 select {
	padding: 8px 38px 8px 8px;
	color: #000;
	// color: #666666;
}


.reservation-new-field {
	display: flex;
	width: 90%;
	.reserve-info {
		width: 45%;
		margin-top: 10%;
		display: flex;
		flex-direction: column;
		align-items: center;
		.space-reserve-picture {
			width: 520px;
			height: 320px;
			object-fit: cover;
			border-radius: 4px;
		}
	}
	.reserve-form {
		width: 50%;
		padding: 24px 0;
		margin: 70px 0 0 40px;
		h2 {
			border-bottom: 1px solid #d8d8d8;
			padding: 14px 12px;
      margin: 18px 18px 18px 0;
		}
		.reserve-date-field {
			display: flex;
			justify-content: space-around;
			margin: 12px 0 48px;
			text-align: center;
		}
		.reserve-pet-field {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			margin: 12px 0 28px;
			.reserve-pet-area {
				text-align: center;
				padding: 0 18px;
				.reserve-pet-tip {
					padding-bottom: 8px;
				}
			}
		}
		.actions {
			text-align: right;
			padding-right: 80px;
		}
	}
}

.reserve-edit-field{
	width: 380px;
	display: flex;
	flex-direction: column;
	align-items: center;
	.reserve-edit-pets {
		width: 100%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		border-radius: 4px;
		.reserve-edit-pet {
			padding: 6px;
			text-align: center;
		}
	}
}


