.review_container {
  width: 65vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  #review_area {
    display: flex;
    #star {
      margin: 12px;
      font-size: 18px;
      img {
        width: 16px;
        height: 16px;
      }
    }
    .review-textarea {
      border: 1px solid darken(rgb(235, 237, 240), 10%);
      border-radius: 6px;
      padding: 0.5em;
      width: 50vw;
      box-sizing: border-box;
      height: 100px;
      font-size: 1em;
    }
    .actions {
      text-align: right;
      margin-right: 24px;
    }
  }

  #comments_area {
    display: flex;
    flex-wrap: wrap;
    .review_content {
      width: 30vw;
      border-bottom: 1px solid darken(rgb(235, 237, 240), 10%);
      padding: 8px;
      margin: 8px;
      .review-face {
        display: flex;
        align-items: center;
        .reviewer{
          margin-left: 8px;
          display: flex;
          flex-direction: column;
          color: gray;
        }
        .review_rate {
          // width: 100%;
          padding-right: 32%;
        }
      }
      .choice {
        padding-right: 18px;
        text-align: right;
      }
    }
  }
}

.review-title {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 14px;
}

.star {
  margin: 12px;
  font-size: 18px;
  min-width: 120px;
  label {
    margin-right: 12px;
    font-size: 20px;
    font-weight: bold;
  }
  img {
    width: 16px;
    height: 16px;
  }
}

.fa-star {
  color: rgb(253, 105, 9);
}