.review_container {
  width: 65vw;
  display: flex;
  flex-wrap: wrap;
  .review_content {
    width: 30vw;
    border-bottom: 1px solid darken(rgb(235, 237, 240), 10%);
    padding: 8px;
    margin: 8px;
    .review-face {
      display: flex;
      align-items: center;
      .reviewer{
        margin-left: 8px;
        display: flex;
        flex-direction: column;
        color: gray;
        font-style: italic;
      }
    }
    .choice {
      padding-right: 24px;
      text-align: right;
    }
  }
}
