@import "application.scss";

.main_picture {
    width: 50vw;
    height: 50vh;
}
.sub_picture {
  width: 62vw;
  img {
    width: 20vw;
    height: 20vh;
    border: 1px solid #fff;
  }
  .sub1, .sub2 {
    flex-basis: 50%;
    width: 30vw;
    height: 30vh;
  }
}

.tip-picture {
  width: 160px;
  height: 110px;
}

.edit_picture {
  text-align: left;
  img {
    @include icon;
    &:hover {
      background-color: rgba(255, 255, 255, 0.445);
      box-shadow: 1px 1px 5px 1px #999;
      cursor: pointer;
    }
  }
  // input{
  //   display: none;
  // }
}
.textinput {
  @include textinput;
  border-radius: 3px;
}

.s-textinput {
  @include textinput;
  width: 360px;
}

.textarea {
  @include textarea;
  border-radius: 3px;
}

.textlabel {
  text-align: left;
  margin: 14px 0;
  padding-left: 16px;
}
