@import "application.scss";
.parent {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

//-------------------------index--------------------------------------
.space-head-zone {
  background-image: url(dog-8.jpg);
  background-size: cover;
  background-position: bottom;
  width: 100vw;
  height: 560px;
  color: rgb(170, 247, 108);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 14px;
  .headtext {
    margin-bottom: 78px;
    // font-size: 58px;
    font-size: 4rem;
  }
  .headsentence {
    margin: 0 0 18px -38px;
  }
}
.container {
  width: 100vw;
  height: auto;
}

#footer {
  height: 62px;
  width: 100%;
  padding: 18px 0 8px;
  margin-top: 24px;
  font-size: 16px;
  position: static;
  bottom: 0;
  background-color: rgb(92, 92, 92);
  color: #fff;
  text-align: center;
}
.favor-space-topic-container {
  width: 90%;
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-evenly;
  justify-content: space-around;
  .space-topic {
    width : 49%;
    height: 370px;
    margin: 4px;
    display: flex;
    flex-direction: column;
    .space-index-picture {
      height: 240px;
    }
    .space-topic-tip {
      // text-align: left;
      padding: 4px 0 2px 18px;
      display: flex;
      align-items: center;
      h2 {
        margin-bottom: 8px;
      }
    }
    .review-tip {
      flex-grow: 1;
      text-align: right;
      padding-right: 38px;
    }
  }
  .textlabel {
    a {
      color: rgb(56, 153, 137)!important;
    }
  }
}
.space-topic-container {
  background-color: #fff;
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  // align-content: flex-start;
  width: 95%;
  .space-topic {
    width : 23% ;
    height: 310px;
    margin: 4px;
    border: 1px solid rgb(182, 181, 181);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    .space-topic-tip {
      // text-align: left;
      padding: 4px 0 2px 4px;
      display: flex;
      align-items: center;
    }
    .review-tip {
      flex-grow: 1;
      text-align: right;
    }
  }
  .textlabel {
    a {
      color: rgb(56, 153, 137)!important;
    }
  }
}
.pet-space-topic-container {
  width: 95%;
  height: 560px;
  display: flex;
  .pet-space-topic {
    width: 19%;
    margin: 6px;
    position: relative;
    .p {
      text-align: center;
      margin-bottom: 8px;
    }
    .text1, .text2 {
      position: absolute;
      color: rgb(241, 253, 255);
      width: 80%;
      top: 60%;
      left: 50%;
      z-index: 1;
      -ms-transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      margin:0;
      padding:0;
    }
    .text2 {
      top: 70%;
    }
    .pet-space-picture {
      width: 100%;
      height: 480px;
      object-fit: cover;
      border-radius: 10px;
      filter: grayscale(30%);
      &:hover {
        filter: grayscale(0);
        transition-duration: 0.3s;
      }
    }
  }
}

.service-intro {
  width: 95%;
  height: 460px;
  border-radius: 14px;
  margin: 18px 0;
  background-image: url(dog-5.jpg);
  background-size: cover;
  background-position: center ;
  color: #fff;
  .intro-head {
    position: relative;
    right: 78px;
    top: 130px;
    text-align: right;
    font-size: 42px;
  }

  .intro-tip {
    position: relative;
    right: 168px;
    top: 150px;
    text-align: right;
    font-size: 42px;
  }
}
//-------------------------intro--------------------------------------
.intro-container {
  display: flex;
  justify-content: center;
  width: 80%;
  .owner-topic {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
  }
  .host-topic {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
  }
  .intro-topic {
    // color: #fff;
    width: 95%;
    height: 100px;
    background-color: rgb(182, 219, 78);
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      margin-top: 38px;
      width: 100%;
      text-align: center;
    }
  }
}
.matching {
  width: 70%;
  background-color: rgb(111, 219, 201);
  height: 100px;
  h1 {
    color: rgb(75, 47, 36);
    width: 100%;
    margin-top: 38px;
    text-align: center;
  }
}
//-------------------------search--------------------------------------
.search-container {
  display: flex;
}
.search-topic-area {
  width: 60vw;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  padding: 0 26px;
  .search-result {
    width: 90%;
    text-align: left;
    margin: 20px 0 0 ;
    padding: 0 24px 18px 8px;
    border-bottom: 1px solid rgb(221, 221, 221);
  }
  .search-topic-container {
    width: 90%;
    .search-topic {
      display: flex;
      border-bottom: 1px solid rgb(221, 221, 221);
      padding: 18px 28px 0 0 ;
      width: 100%;
      .space-search-topic-picture {
        margin-bottom: 18px;
      }
      .search-topic-tips {
        margin: 18px;
        width: 100%;
        display: flex;
        flex-direction: column;
        .search-topic-tip {
          display: flex;
          align-items: center;
          padding: 4px 0 2px 4px;
          h1 {
            margin: 0;
            padding-bottom: 14px;
          }
          .gray {
            color: gray;
          }
        }
        .review-tip {
          flex-grow: 1;
          text-align: right;
        }
      }
    }
  }
}
.search-map-area {
  background-color: rgb(219, 189, 189);
  width: 40vw;
  height: calc(100vh - 54px);
  position: sticky;
  position: fixed;
  // bottom: 0;
  right: 0;
}
//-------------------------show--------------------------------------
.show-space-picture-area {
  width: 100vw;
  height: 540px;
  border-top: 1px solid rgb(134, 134, 134);
  border-bottom: 1px solid rgb(134, 134, 134);
  .main_picture {
    object-fit: cover;
    width: 100%;
    height: 540px;
  }
}
.show-container {
  display: flex;
  width: 80%;
  .show-space-topic-area {
    width: 60%;
    .show-space-topic{
      margin-bottom: 38px;
    }
    .show-space-title {
      font-size: 46px;
      font-weight: 600;
    }
    h2 {
      font-size: 32px;
      border-bottom: 1px solid #d8d8d8;
      padding: 14px 0;
      margin: 18px 18px 18px 0;
    }
  }
  .show-space-action-area {
    width: 40%;
    background-color: rgb(255, 247, 226);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 38px;
    .space-action-zone {
      padding: 6px 24px;
      border: 1px solid #d8d8d8;
      border-radius: 6px;
      position: sticky;
      top: 15vh;
      // right: 10vw;
      width: 70%;
      background-color: #fff;
      .space-user-tip {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 12px;
      }
      .space-action-tip {
        // border-top: 1px solid #e9e6e6;
        padding: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .btn-s {
          min-width: 80%;
        }
      }
    }
  }
}
.sub_picture {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 38px 0;
  padding-left: 34px;
  img {
    width: 80%;
    // height: 250px;
    border-radius: 6px;
    object-fit: cover;
    margin-bottom: 6px;
  }
}
.tip-picture {
  width: 160px;
  height: 110px;
  object-fit: cover;
}
.edit_picture {
  text-align: left;
  img {
    @include icon;
    // object-fit: cover;
    &:hover {
      background-color: rgba(255, 255, 255, 0.445);
      box-shadow: 1px 1px 5px 1px #999;
      cursor: pointer;
    }
  }
  // input{
  //   display: none;
  // }
}
//-------------------------------map--------------------------------------
#map {
  border: 1px solid rgb(177, 177, 177);
}
.show-map-zone {
  height: 580px;
  width: 75vw;
  margin-bottom: 72px;
}
.search-map-zone {
  z-index: 3;
  position: absolute;
  height: 100%;
  width: 100%;
  border-width: 0px;
  // padding: 0px;
  // margin: 0px;
  // left: 0px;
  // top: 0px;
}
//-------------------------------tag--------------------------------------
.tag-list-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: auto;
  margin-bottom: 30px;
}
.radius-tag {
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(238, 238, 238);
  border-radius: 18px / 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6px;
  padding: 0 4px;
  min-width: 108px;
  height:36px
}
//-------------------------------phonesize--------------------------------------
@media screen and (max-width:639px) {
.pnone {
  display: none;
}
header {
  .header_title {
    width: 100%;
    text-align: center;
  }
  .navbar {
    .btn-bright {
      display: none;
    }
  }
}
.space-head-zone {
  height: 220px;
  .headtext {
    font-size: 1.2em;
    margin-bottom: 30px;
  }
  .search-form {
    margin-bottom: 52px;
  }
}
}
