@import "application.scss";

@mixin user_show_field {
  @include container;
}

@mixin general_border {
  border: 1px solid #a39f9f;
}
.user-show-container {
  display: flex;
  overflow:hidden;
  .user-info-area {
    width: 40vw;
    .user-info-zone {
      padding: 24px;
      height: auto;
      border: 1px solid #d8d8d8;
      position: fixed;
      top: 15vh;
      left: 15vw;
      width: 290px;
      .user-icon-tip{
        display: flex;
        justify-content: center;
        padding: 12px;
      }
      .user-info-tip {
        border-top: 1px solid #e9e6e6;
        padding: 12px;
        display: flex;
        flex-direction: column;
      }
    }
  }
  .user_show_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    .caption-head {
      // width: 100%;
      // display: flex;
      font-size: 48px;
    }
    h2 {
      border-bottom: 1px solid #d8d8d8;
      width: 100%;
      margin: 18px;
      padding: 14px 0;
      display: flex;
      .caption-btn {
        flex-grow: 2;
        text-align: right;
      }
    }
    .user_show_field {
      display: flex;
      // flex-direction: column;
      width: 100%;
      flex-wrap: wrap;
    }

    .user_show_pet_field {
      width: 50%;
      a {
        margin-bottom: 16px;
        display: flex;
      }
      .user_show_pet_info {
        padding: 12px 0 0 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    .user_show_space_field {
      width: 100%;
      margin-bottom: 16px;
      display: flex;
      .user_show_space_info {
        padding: 12px 0 0 24px;
      }
    }
    .user_show_reservation_field {
      a {
        width: 100%;
        margin-bottom: 16px;
        display: flex;
      }
      .user_show_reservation_info {
        padding-left: 24px;
      }
    }
    .user_show_reserved_field {
      width: 100%;
      margin-bottom: 16px;
      display: flex;
      border-bottom: 1px solid #d8d8d8;
      .user_show_reserved_info {
        padding-left: 24px;
        .user_show_reserved_tip {
          margin: 4px 0;
        }
      }
      .user_show_reserved_info2 {
        display: flex;
        margin-left: 20px;
      }
    }
  }
}


.choices {
  padding: 4px;
  .choice {
    margin: 0 4px;
  }
}

.choices-vertical {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-right: 1px solid darken(rgb(235, 237, 240), 10%);
  padding-right: 2px;
}


.mail-advise {
  width: 480px;
}

.mail-resetting {
  text-align: center;
}
//------------------------------user-------------------------------------
.enterpage {
  background-image: url("topimage.png");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign_up {
  height: 100vh;
  display: flex;
  align-items: center;
  .title_tag {
    padding: 18px;
    margin: 36px 0 18px ;
    font-size: 54px;
  }
}

.edit_user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//------------------------------user/-------------------------------------

.user-subhead {
  display: flex;
}

.label {
  @include label;
  padding: 3px 4px;
}

.fa-thumbs-up {
  color: orange;
}
.fa-user-circle {
  color: rgb(226, 78, 78);
}
.fa-envelope {
  color: rgb(37, 175, 37);
}
